
    <div class="container body-Topsection-about">

        <div class="row d-flex body-section-about">
            <div class="col-xl-4 d-flex justify-content-center align-items-center div2" >
                <img src="./../../assets/image/Aniket Image.jpg" alt="image" class=" image">
            </div>
            <div class="col-xl-8 div1">
                <div class="w-100 bio" >
                    <span class="about-me">About Me</span>
                    <div style="width: 100px; border: 2px solid red; margin-top: 10px;"></div><br><br>
                    <span class="bio-text">
                        Aniket Rajak: Full Stack Web Developer and Problem Solver
                        I'm Aniket Rajak, I am currently study (B Tech) at the prestigious Camellia School of Engineering & Technology.    
                    </span><br><br>
                    <span class="bio-text">
                        I'm a versatile Full Stack Developer with expertise in the MEAN stack. From developing interactive user interfaces using HTML, CSS, BootStarp, JavaScript and its Framework to building powerful back-end applications with Node.js, Express,React, and MongoDB, I thrive on the entire software development process. 
                    </span><br><br>
                    <!-- <div class="info-section">
                        <span class="font-text" >
                            Personal Info
                        </span>
                         <span class="slash"></span>
                        <span class="font-text-two">
                            Education
                        </span>
                        <span class="slash"></span>
                        <span class="font-text-three">
                            Experience
                        </span>
                    </div><br><br> -->
                    
                    <div class="social_section">
                        <span class="text">Personal Info</span>
                        <span class="slash"></span>
                        <span class="text">Education</span>
                        <span class="slash"></span>
                        <span class="text">Experience</span>
                    </div><br>

                    <div class="info-section-two">
                        <span class="material-symbols-outlined" style="color: red;">
                            cake
                        </span>
                        <span style="color: red; margin-left: 10px;" class="info-section-two-text">Birthaday :&nbsp;</span><span class="info-section-two-text"> March 3, 2003</span><br>
                        <span class="material-symbols-outlined" style="color: red;">
                            location_on
                        </span>
                        <span style="color: red; margin-left: 10px;" class="info-section-two-text">Address  :&nbsp;</span><span class="info-section-two-text"> Tollygunge , Kolkata , West Bengal</span><br>
                        <span class="material-symbols-outlined" style="color: red;">
                            call
                        </span>
                        <span style=" color: red; margin-left: 10px;" class="info-section-two-text">Phone :&nbsp;</span><span class="info-section-two-text">+91 62912 &nbsp; 50328</span><br>
                        <span class="material-symbols-outlined" style="color: red;">
                            mail
                        </span>
                        <span style="color: red; margin-left: 10px;" class="info-section-two-text">Email  :&nbsp;</span><span class="info-section-two-text"> aniketrajak030303&#64;gmail.com</span><br>
                    </div>
                </div> 
            </div>

           
        </div>
    </div>

  