
<div class="body-Topcertificate-section">
    <div class="body-certificate-section">
        <div class ="fix-box">
              <span class ="fix-text">My Project's
                <div class="icons-section">
                  <i class="bi bi-youtube" id="icon1"></i>
                  <i class="bi bi-linkedin"id="icons"></i>
                  <i class="bi bi-github"id="icons"></i>
                  <i class="bi bi-twitter"id="icons"></i>
                  <i class="bi bi-envelope"id="icons"></i>
                </div>
              </span>
        <div class="box">
          <ul>
            <li class="item-1" style="height: 500px; width: 100%;">
              
            </li>
            <li class="item-2" style="height: 500px; width: 100%;">
              <img src="./../../assets/image/spotify-img.webp" alt="" style="height: 500px; width: 80%; border-radius: 10px;">
            </li>
            <li class="item-3" style="height: 500px; width: 100%;">
              <img src="./../../assets/image/portfolio2.png" alt="" style="height: 500px; width: 80%; border-radius: 10px;">
              </li>
            <li class="item-4" style="height: 500px; width: 100%;">
              <img src="./../../assets/image/spotify-img.webp" alt="" style="height: 500px; width: 80%; border-radius: 10px; object-fit: cover;">
            </li>
            <li class="item-5" style="height: 500px; width: 100%;">
              <img src="./../../assets/image/responsive-image2.png" alt="" style="height: 500px; width: 80%; border-radius: 10px;">
            </li>
          </ul>  
        </div>
        </div>
        <span class ="head_text d-flex justify-content-center">Projects</span><br>
        <div class="container text-center">
          <div class="row">
            <div class="col-md-4 mt-3 cards w-80">
              <img src="./../../assets/image/spotify-img.webp" alt=""  style="height: 300px; width: 100%; border-radius: 10px;">
              <!-- <div class="content w-100">
                <h1>Spotify Web Clone</h1>
                <span>It is Spotify web clone that is using HTML ,vanilla CSS </span>
              </div> -->
                <div class="content w-100">
                  <div class="content w-100">
                    <a href="https://fonts.google.com/icons?selected=Material+Icons+Outlined:launch:&icon.query=open&icon.set=Material+Icons"><mat-icon style="font-size: 30px; cursor: pointer;color: red;">launch</mat-icon></a>
                  </div>
              </div>
            </div>
            <div class="col-md-4 mt-3 cards w-80">
              <img src="./../../assets/image/portfolio2.png" alt=""  style="height: 300px; width: 100%; border-radius: 10px;">
              <!-- <div class="content w-100 p-20">
                <h1>Portfolio</h1>
                <span>It is a portfolio website that is using HTML ,vanilla CSS ,TypeScript. and it is responsive website build in Angular.</span>
              </div> -->
              <div class="content w-100">
                <a href="https://fonts.google.com/icons?selected=Material+Icons+Outlined:launch:&icon.query=open&icon.set=Material+Icons"><mat-icon style="font-size: 30px; cursor: pointer;color: red;">launch</mat-icon></a>
              </div>
            </div>
            <div class="col-md-4 mt-3 cards w-80">
              <img src="./../../assets/image/spotify-img.webp" alt=""  style="height: 300px; width: 100%; border-radius: 10px;">
              <!-- <div class="content w-100">
                <h1>Spotify Web Clone</h1>
                <span>It is Spotify web clone that is using HTML ,vanilla CSS </span>
              </div> -->
              <div class="content w-100">
                <a href="https://fonts.google.com/icons?selected=Material+Icons+Outlined:launch:&icon.query=open&icon.set=Material+Icons"><mat-icon style="font-size: 30px; cursor: pointer;color: red;">launch</mat-icon></a>
              </div>
            </div>
          </div>
        </div>
<br><br><br>

    </div>
</div>
