
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');


/* .body-Topcertificate-section{
    margin-top: 100px !important;
} */

.body-certificate-section{
    padding: 20px; 
    height: 100vh;
}

.icons-section{
  display: flex; 
  flex-wrap: wrap; 
  justify-content: center; 
  margin-top: 100px;
}

#icon1{
  font-size: 30px;
  cursor: pointer;
}

#icons{
  font-size: 30px;
  margin-left: 20px;
  cursor: pointer;
}

.fix-box{
    height: 100%;
    color: red;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fix-text{
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-size: 100px;
    filter: drop-shadow(5px 5px 5px rgb(0, 0, 0));
 }



ul{
    list-style: 10px;
    width: 600px;
    height: 500px;
    overflow: hidden;
}


ul li{
    color: red;
    margin-top: 10px;
    list-style: none;
    font-size: 40px;
    font-weight: 400;
    position: relative;
    top: 0;
    animation: move 6s steps(500) infinite;

}

.head_text{
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-size: 50px;
  filter: drop-shadow(5px 5px 5px rgb(0, 0, 0));
  margin-bottom: 20px;
}

/* cardshoversection */
.cards{
  position: relative;
  overflow: hidden;
}

.cards>img{
  height: 100%;
  width: 100%;
  transition: all 5s ease;
}

.content{
  position: absolute;
  left: 10px;
  bottom: -100px;
  color: red;
 width: 100%;
  
}

.cards:hover .content{
  bottom: 10px;
}

a{
  text-decoration: none;
}
@keyframes move {
    100%{
      top: -2470px;
    }
  }

@media screen and (min-width:1031px) and (max-width:1076px) {
  .fix-text{
    font-size: 86px !important;
  }
}
@media screen and (max-width:1030px) {
  ul{
    margin-top: 100px;
    padding: 0;
  }
  .fix-box{
    flex-direction: column;
  }
  
}
@media screen and (min-width : 701px) and (max-width : 1029px) {
  .head_text{
    margin-top: 100px;
  }
  .fix-box{
    flex-direction: column;
    margin-top: 50px;
}
}
@media screen and (max-width :700px) {
  .body-certificate-section{
      padding: 0; 
  }
  ul{
      margin-top: 40px;
      width: 400px;
      padding: 0;
      margin-left: 35px;
  }
  .fix-box{
      flex-direction: column;
      margin-top: 50px;
  }
  .fix-text{
      font-size: 70px;
      filter: drop-shadow(5px 5px 5px rgb(0, 0, 0));
    }
    .icons-section{ 
      margin-top: 50px;
    }
    #icon1{
      font-size: 30px;
    }
    
    #icons{
      font-size: 30px;
      margin-left: 10px;
    }
}  
@media screen and (min-width:590px) and (max-width : 601px) {
  .fix-box[_ngcontent-ng-c434107696]{
    margin-top: 50px;
  }
  .fix-text[_ngcontent-ng-c434107696]{
    font-size: 100px;
  }
  ul[_ngcontent-ng-c434107696]{
    width: 500px;
  }
  .icons-section[_ngcontent-ng-c434107696]{
    margin-top: 100px;
  }
  #icon1{
    font-size: 30px;
  }
  #icons{
    font-size: 30px;
  }
}
@media screen and (max-width:400px) {
  .fix-box{
    margin-top: 100px;
  }
  ul{
    width: 300px;
  }
}

@media screen and (min-width:301px) and (max-width:306px) {
  .fix-text{
    font-size: px;
  }
}

@media screen and (max-width:300px) {
  .fix-text{
    font-size: 40px;
  }
  ul{
    padding: 20px;
    width: 100%;
  }
  .box{
    width: 100%;
  }
  .icons-section{ 
    margin-top: 40px;
  }
  #icon1{
    font-size: 18px;
  }
  
  #icons{
    font-size: 18px;
  }

}

