
<div class="body-Topcertificate-section">
    <div class="body-certificate-section">
        <div class ="fix-box">
              <span class ="fix-text">My Project's
                <div class="icons-section">
                  <i class="bi bi-youtube" id="icon1"></i>
                  <i class="bi bi-linkedin"id="icons"></i>
                  <i class="bi bi-github"id="icons"></i>
                  <i class="bi bi-twitter"id="icons"></i>
                  <i class="bi bi-envelope"id="icons"></i>
                </div>
              </span>
        <div class="box">
          <ul>
            <li class="item-1" style="height: 500px; width: 100%;">
              
            </li>
            <li class="item-2" style="height: 500px; width: 100%;">
              <img src="./../../assets/image/spotify-img.webp" alt="" style="height: 500px; width: 100%; border-radius: 10px;">
            </li>
            <li class="item-3" style="height: 500px; width: 100%;">
              <img src="./../../assets/image/portfolio2.png" alt="" style="height: 500px; width: 100%; border-radius: 10px;">
              </li>
            <li class="item-4" style="height: 500px; width: 100%;">
              <!-- <img src="./../../assets/image/youtube-img.jpg" alt="" style="height: 500px; width: 100%; border-radius: 10px; object-fit: cover;"> -->
            </li>
            <li class="item-5" style="height: 500px; width: 100%;">
              <!-- <img src="./../../assets/image/responsive-image2.png" alt="" style="height: 500px; width: 100%; border-radius: 10px;"> -->
            </li>
          </ul>  
        </div>
        </div>
    </div>
</div>
