

.body-Topsection-contact{
    height: 100vh; 
    background-color: #191414; 
    margin-top: 100px;
}

.body-section-contact{ 
    color: #fff;
    display: flex;
}

.contact-me{
    font-size: 50px; 
    font-weight: 20px;
}

.contact{
    padding-top: 30px;
    padding-left: 20px;
    width: 35%;
}

.contact-form-section{
    width: 50%;
    height: 400px;
}

.example-form {
    width: 100%;
  }
  
.example-full-width {
width: 100%;
}

.contact-area{
    font-size: 20px;
}

.table-data-name-form{
    display: flex;
}

.text_font{
    font-size: 25px;
    color: red;
    /* border: 1px solid #fff; */
}
.text_font2{
    font-size: 25px;
    color: #fff;
}
.icon{
    color: red;
}

@media (max-width : 900px) {

    .contact-me{    
        font-size: 30px; 
        font-weight: 12px;
    }
    .body-section-contact{ 
        flex-direction: column;
    }
    .contact{
        width: 90%;
    }
    .contact-form-section{
        width: 90%;   
    }
    .table-data-name-form{
        flex-direction: column;
    }
    .text_font{
        font-size: 20px;
        color: red;
        /* border: 1px solid #fff; */
    }
    .text_font2{
        font-size: 20px;
        color: #fff;
    }
}


@media (min-width : 301px) and (max-width : 400px) {

    .contact-area{
        font-size: 16px;
    } 
    .text_font{
        font-size: 15px;
        padding: 0;
    }
    .text_font2{
        font-size: 15px;
        padding: 0;
    }
    .icon{
        font-size: 15px;
        padding: 0;
        margin-top: -5px;
    }
    .body-Topsection-contact{
        margin-top: 0;
    }
   
}

@media (max-width : 300px) {
    .contact-area{
        font-size: 12px;
    }

    #email-form{
        width: 205px;
    }

    #content-form{
        width: 205px;
    }

    #subject-form{
        width: 205px;
    }
    .text_font{
        font-size: 15px;
        padding: 0;
    }
    .text_font2{
        font-size: 15px;
        padding: 0;
    }
    .icon{
        padding: 0;
        font-size: 15px;
        margin-top: -5px;
    }
}




  
