
<div  class="body-Topsection-contact">
    <div class="body-section-contact">
        <div class="container contact">
            <div class="row">
              <div class="col-1 icon"><mat-icon>call</mat-icon>
              </div>
              <div class="col-2 text_font">call </div>
              <div class="col-9 text_font2">: +91 62912 &nbsp; 50328</div>
            </div>
            <div class="row" style="margin-top: 10px;">
              <div class="col-1 icon"><mat-icon>mail</mat-icon>
              </div>
              <div class="col-2 text_font">Mail </div>
              <div class="col-9 text_font2">: aniketrajak030303&#64;gmail.com</div>
            </div>
            <br><br>
            <div class="row" style="margin-top: 10px;">
              <div class="col-12">
                <a mat-raised-button color="warn" href="./../../assets/pdf/resume ani 0.1.pdf" download="Download CV" style="width: 150px;">Resume</a>
              </div>
            </div>
            
            
        </div>
    
        <div class="container contact-form-section" style="padding: 30px;" >
            <form class="example-form" [formGroup]="form" action="javascript:void(0)" (submit)="send()">
              <div class="row">
                <div class="col-12 w-100">
                  <mat-form-field class="example-full-width"  id="subject-form">
                    <mat-label>Full Name</mat-label>
                    <input matInput formControlName="from_name">
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-12 w-100">
                  <mat-form-field class="example-full-width" id="email-form">
                    <mat-label>Email</mat-label>
                    <input type="email" matInput placeholder="Ex. pat@example.com" formControlName="from_email">
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-12 w-100">
                  <mat-form-field class="example-full-width"  id="subject-form">
                    <mat-label>Subject</mat-label>
                    <input matInput formControlName="subject">
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-12 w-100">
                  <mat-form-field class="example-full-width" id="content-form">
                    <mat-label>Your message...</mat-label>
                    <textarea matInput formControlName="message"></textarea>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-12 w-100">
                  <button mat-raised-button color="warn" type="submit" >Submit</button>
                </div>
              </div>
           
                
                <!-- <mat-form-field class="example-full-width"  id="subject-form">
                  <mat-label>Full Name</mat-label>
                  <input matInput formControlName="from_name">
                </mat-form-field>

                <mat-form-field class="example-full-width" id="email-form">
                  <mat-label>Email</mat-label>
                  <input type="email" matInput 
                         placeholder="Ex. pat@example.com" formControlName="from_email">
                </mat-form-field>

                
                
                <mat-form-field class="example-full-width"  id="subject-form">
                  <mat-label>Subject</mat-label>
                  <input matInput formControlName="subject">
                </mat-form-field>
              <mat-form-field class="example-full-width" id="content-form">
                <mat-label>Your message...</mat-label>
                <textarea matInput formControlName="message"></textarea>
              </mat-form-field>
              <button mat-raised-button color="warn" type="submit" >Submit</button> -->

            </form>  
        </div>
    </div>
</div>
