.body-Topcertificate-section{
    margin-top: 100px;
}

.mat-stepper-horizontal {
    margin-top: 8px;
    
  }
  
  .mat-mdc-form-field {
    margin-top: 16px;
  }
 
 
  .material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
  }
   
.certificate-section{
    width: 100%;
    padding-top: 10px;
    padding-left: 450px;
    padding-bottom: 10px;
}  

.img{
    height: 400px; 
    width: 600px;
    
}

.text1{
    color: red;
    padding-left: 20px;
}

@media (max-width : 1300px) {
    .certificate-section{
        padding-left: 400px;
        
    } 
}

@media (min-width :701px) and (max-width : 1050px) {
    .certificate-section{
        padding-left: 160px;
    } 
}

@media (max-width : 700px) {
    .img{
        height: 300px; 
        width: 300px;
    }
    .certificate-section{
        padding-left: 130px !important;
    } 
    .body-Topcertificate-section{
        margin-top: 200px;
    }
}
@media (max-width : 500px) {
    .img{
        height: 200px; 
        width: 300px;
        margin-left: -50px;
    }
    .text2{
        margin-left: -50px;
    }
    button{
        display: none;
    }
   
    .certificate-section{
        padding-left: 70px !important;
    } 
}

@media (max-width : 300px) {
    .img{
        height: 100%; 
        width: 100%;
        margin-left: -50px;
    }
    .text2{
        margin-left: -50px;
    }
    button{
        display: none;
    }
}