<div class="body-section">

 <!-- <app-hamburger></app-hamburger> -->

  <!-- end -->
        <div class="dialog-outerbody-section">
        
            <div class="dialog-inerbody-section">
            <div data-bs-spy="scroll" data-bs-target="#navbar-example2" data-bs-root-margin="0px 0px -40%" data-bs-smooth-scroll="true" class="scrollspy-example bg-body-tertiary p-3 rounded-2 " tabindex="0" >


              <!-- headerone -->
              <!-- background-color: #404040; color: #fff; -->
             <div class="headerone">
              <span class="nav-link"  href="#introduction" id="introduction" style="cursor: pointer; color: red;" (click)="scrollToSection('introduction')" >Introduction</span><br>
              <div style="width: 100px; border: 1px solid red; margin-top: -5px;"></div>
              
              <div id="headerone">

                <div class="left-side" >
                        <div class="left-side-text-one">
                            <span class="left-side-text-one-text1" >Hi, I'm</span><br><br>
                            <span class="left-side-text-one-text2">Aniket Rajak</span><br><br>
                            <span class="left-side-text-one-text3">Welcome to My</span>
                            <span class="left-side-text-one-text4">Portfolio</span>
                            <span class="left-side-text-one-text5">website</span><br><br>
                            <span class="left-side-text-one-text3">and I am a passionate</span>
                            <ul class="moving-text">
                                <li><span>MEAN Stack Devloper.</span></li>
                                <li><span>MERN Stack Devloper.</span></li>
                                <li><span>Frontend - Devloper...</span></li>
                                <li><span>Backend - Devloper...</span></li>
                            </ul>
                        </div>
                        <!-- <div class="left-side-text-two">
                            <span>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam odio excepturi voluptatibus magnam consectetur. Repudiandae quae, iste vel ratione laudantium perferendis ullam, hic fuga accusantium est dolorem commodi sapiente quibusdam.
                            </span><br><br>
                            <button mat-raised-button color="warn" style="width: 150px;" class="btn-readmore">Readme</button>
                        </div> -->
                </div>
                <div class="right-side">
                        <img src="./../../assets/image/responsive-image2.png" alt="image" class="responsive-image">
                </div>
                  
              </div>
              </div>
            <br>
            <br>
            
            
             <!-- headertwo -->
            
               <div class="headertwo" >
                <span class="nav-link" href="#education" id="education" style="cursor: pointer; color: red;" (click)="scrollToSection('education')">Education</span>
              <div style="width: 100px; border: 1px solid red; margin-top: 15px;"></div><br>



                <div class="education-section" >

                  <div class="education-section-hidden-slash"></div>


                  <div class="education-items-one">

                    <p  class="education-items-date-one">03/03/2023</p>
                    <div style="display: flex;">
                      <div class="eduction-item-goldlogo-one"></div>
                      <div class="education-item-slash-one" ></div>
                    </div>
                    <div class="leftside-education-section-one">
                      <div class="education-item1">
                        <span style="color: red; font-size: 30px; font-weight: 400;">B-Tech Engineering </span><br><br>
                        <span><i>Camellia School of Engineering & Technology</i></span><br><br>
                        <span>Currently, I am learning and improving my technical skills so that I can achieve my goals.</span>
                      </div>
                    </div>
                    
                    <div style="display: flex;">
                      <div class="education-item-slash-two-hidden"></div>
                      <div class="eduction-item-goldlogo-two-hidden"></div>
                    </div>
                    <div class="rightside-education-section-one-hidden" >
                      <div class="education-item2-hidden">
                        <span style="color: red; font-size: 30px; font-weight: 400;">Diploma Engineering </span><br><br>
                        <span><i>Camellia School of Engineering & Technology</i></span><br><br>
                        <span>Here I learned about Aptitude, Reasoning, a little bit of General Knowledge and got introduced to Technology.</span>
                      </div>
                    </div>


                    <p  class="education-items-date-three">03/03/2023</p>
                    <div style="display: flex;">
                      <div class="eduction-item-goldlogo-one"></div>
                      <div class="education-item-slash-one"></div>
                    </div> 
                    <div class="leftside-education-section-two" >
                      <div class="education-item3">
                        <span style="color: red; font-size: 30px; font-weight: 400;">Intermediate </span><br><br>
                        <span><i>Ganga puri Sikhsha Sadan(H.S)</i></span><br><br>
                        <span>Here I learned about the new things and its proper implementation and stood the test of time.</span>
                      </div>
                    </div>

                    <div style="display: flex;">
                      <div class="education-item-slash-two-hidden"></div>
                      <div class="eduction-item-goldlogo-two-hidden"></div>
                    </div>
                    <div class="rightside-education-section-two-hidden" >
                      <div class="education-item4-hidden">
                        <span style="color: red; font-size: 30px; font-weight: 400;">Auto Cad</span><br><br>
                        <span><i>M.S.M.E</i></span><br><br>
                        <span>Here I saw my dreams and it was a very good experience.</span>
                      </div>
                    </div>
                      
                  </div>
                  

                  <div class="education-slash"></div>

                  <div class="education-section-two" >

                    <div class="education-items-two">

                      <div class="education-items-date-two" ><span>03/03/2023</span></div>
                      <div style="display: flex;  width: 700px; ">
                        <div class="education-item-slash-two"></div>
                        <div class="eduction-item-goldlogo-two"></div>
                      </div>
                      <div class="rightside-education-section-one" >
                        <div class="education-item2">
                          <span style="color: red; font-size: 30px; font-weight: 400;">Diploma Engineering </span><br><br>
                          <span><i>Camellia School of Engineering & Technology</i></span><br><br>
                          <span>Here I learned about Aptitude, Reasoning, a little bit of General Knowledge and got introduced to Technology.</span>
                          
                        </div>
                      </div>

                      
                      <p class="education-items-date-four">03/03/2023</p>
                      <div style="display: flex;  width: 700px; ">
                        <div class="education-item-slash-two"></div>
                        <div class="eduction-item-goldlogo-two"></div>
                      </div>
                      <div class="rightside-education-section-two" >
                        <div class="education-item4">
                          <span style="color: red; font-size: 30px; font-weight: 400;">Auto Cad</span><br><br>
                          <span><i>M.S.M.E</i></span><br><br>
                          <span>Here I saw my dreams and it was a very good experience.</span>
                        </div>
                      </div>

                      

                    </div>
                  </div>
                     
                </div>
              </div>
              <br>
            
              <!-- headerthree -->
            
               <div class="headerthree"> 
                <span class="nav-link" href="#services" id="services" style="cursor: pointer; color: red;" (click)="scrollToSection('services')" >Services</span>
              <div style="width: 100px; border: 1px solid red; margin-top: 15px;"></div><br>
                <span style="padding-top: 20px;">
                  <span style="font-size: 30px; color: red;margin-right: 10px;">❝</span>Welcome to my digital playground! As a proficient developer skilled in </span><br><br>
                  <span>
                    <ul>
                      <li><span>HTML</span></li><br>
                      <li><span>CSS</span></li><br>
                      <li><span>JavaScript</span></li><br>
                      <li><span>Angular</span></li><br>
                    </ul>
                  </span><br>
                  <span>
                    I bring your ideas to life with seamless functionality and captivating design. Explore my portfolio to witness a fusion of creativity, innovation, and technical prowess, meticulously crafted to leave a lasting impression. Let's embark on a journey where imagination meets functionality, and together, we'll redefine digital experiences.
                </span>
                <span style="font-size: 30px; color: red;margin-left: 10px;">❞</span>
              </div>
             </div>
          </div> 
            
      </div>
    <!-- </div> -->
    
</div>